.alert-danger, .alert-info {
	position : fixed;
	display : block;
	top : 0;
	left : 0;
	padding : 10px;
	width : 100%;
}

.alert-close {
	border : none;
	background: transparent;
}

.alert-close:hover {
	cursor: pointer;
}

body {
	background: #98b4d4;
}

#toast-container > .toast-error { background-color: #BD362F; }
#toast-container > .toast-success { background-color: #1eb650; }
#toast-container > .toast-info { background-color: #07688f; }