.alert-danger {
	position : fixed;
	display : block;
	top : 0;
	left : 0;
	padding : 10px;
	width : 100%;
}

.alert-close {
	border : none;
	background: transparent;
	cursor : pointer;
}

body {
	background: #98b4d4;
}