#create-record-table {
    height:80%; 
    width:80%; 
    overflow : scroll;
    background-color: white;
    padding : 20px;
    margin : auto;
    margin-top:50px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
#create-record-table td {
    padding : 20px;
}

#create-record-form {
    margin-top:30px;
}

#create-record-form label {
    margin-top : 10px;
    font-weight: bolder;
}

#frame {
    height : 480px;
    width : auto;
    margin: auto;
}