#patient-info-form {
  width : 45%; 
  float : left
}

#patient-info-xray {
  width:50%; 
  float:right
}

#patient-info-modal label {
  font-weight: bolder;
}

#patient-info-modal input {
  margin-bottom : 3px
}

#patient-info-xray-img {
  width : 100%
}