<!-- MAIN NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Nave bar brand -->
    <a class="navbar-brand" href="/user">
        <span style="margin:5px">
            <img height="30" src="/static/media/app_logo.png">
        </span><strong>Diagcovid-19</strong>
    </a>

    <!-- Buttons and navigations -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- Left buttons -->
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                
            </ul>
        </div>

        <!-- Right buttons-->
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <a style="color:#dd4124" class="nav-item nav-link active" href="/logout">
                    <i class="bi bi-box-arrow-in-right"></i> Logout
                </a>
            </ul>
        </div>
    </div>
</nav>