<!-- Modal -->
<div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="recordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="patient-info-modal-title" class="modal-title" id="recordModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="patient-info-modal">
            <form id='patient-info-form'>
              <label for="info-nric">NRIC</label>
              <input class='form-control' id="info-nric" name="info-nric" type="text" disabled/>

              <label for="info-fname">First Name</label>
              <input class="form-control" id="info-fname" name="info-fname" type="text" />

              <label for="info-lname">Last Name</label>
              <input class="form-control" id="info-lname" name="info-lname" type="text" />

              <label for="info-phone">Phone</label>
              <input class="form-control" id="info-phone" name="info-phone" type="text" />

              <label for="info-gender">Gender</label>
              <select id="info-gender" name="info-gender" class="form-control" >
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
              </select>

              <label for="info-dob">Date of Birth</label>
              <input type="date" class="form-control" name="info-dob" id="info-dob" />
            
          </div>
        </div>
        <div class="modal-footer">
          <button id="record-delete-btn" type="button" class="btn btn-danger">Delete Record</button>
          <button id="record-update-btn" type="button" class="btn btn-primary" disabled>Update Record</button>
        </div>
      </div>
    </div>
  </div>