<!-- MAIN NAVIGATION BAR -->
<nav style="height:50px" class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Nave bar brand -->
    <a class="navbar-brand" href="#">
    </a>

    <!-- Buttons and navigations -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- Left buttons -->
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/user">Create Records</a>
                <a class="nav-item nav-link" href="#">Search Records</a>
                <a class="nav-item nav-link active" href="/records/view">View Records</a>
            </ul>
        </div>

        <!-- Right buttons-->
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        </div>
    </div>
</nav>
