<!-- Prototype page for main user page -->
{% extends 'base.html' %}

{% block title %} Welcome back {{ username }} {% endblock %}

<!-- Insert stylesheets -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/create_diagnosis.css"/>
{% endblock %}

<!-- Insert javascript -->
{% block scripts %}
<script src="/static/js/diagnosis_history.js"></script>
{% endblock %}

<!-- Insert main contents -->
{% set active_page = "search_diagnosis" %}
{% include 'subnavbar-draft.html' %}

{% block content %}
{% include 'patient-diagnosis-modal.html' %}
{% include 'search-result-modal.html' %}

<!-- Main contents -->
<table class="record-table fadeIn hidden">
    <thead>
        <!-- Create records form -->
        <td rowspan="2" style="width:45%;vertical-align: top;">
            <h2 style="font-weight: 900;">Diagnosis History Search</h2>
            <form id="search-record-form">
              <!-- NRIC/FIN -->
              <label for="nric">NRIC/FIN: </label>
              <input type="text" class="form-control" name="nric" id="nric" placeholder="NRIC/FIN"/>

                <!-- First Name -->
                <label for="fname">First Name: </label>
                <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name"/>

                <!-- Last Name -->
                <label for="lname">Last Name: </label>
                <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name"/>

                <!-- Date Registered-->
                <label for="date">Date Registed: </label>
                <input type="date" class="form-control" name="date" id="date"/>

                <!-- Covid-19 Result -->
                <label for="covidResult">Covid-19 Result: </label>
                <select id="covidResult" name="covidResult" class="form-control">
                  <option>Select a option</option>
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                </select>

                <!-- Buttons Submit/Reset -->
                <button style="width: 100%;margin-top:20px; margin-bottom: 20px;" type="button" class="btn btn-primary" id="search_diagnosis_btn">Search Diagnosis History</button>
            </form>

        </td>

    </thead>
</table>

{% endblock %}
