<!-- Prototype page for main user page -->
{% extends 'base.html' %}

{% block title %} Welcome back {{ username }} {% endblock %}

<!-- Insert stylesheets -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/list_records.css"/>
<link rel="stylesheet" href="/static/css/search_records.css"/>
{% endblock %}

<!-- Insert javascript -->
{% block scripts %}

{% endblock %}

<!-- Insert main contents -->
{% block content %}
{% set active_page = "list_diagnosis" %}
{% include 'navbar.html' %}
{% include 'subnavbar.html' %}
{% include 'patient-diagnosis-modal.html' %}

<!-- Main contents -->
{% include 'user-info-modal.html' %}
<table class="record-table fadeIn hidden" style="max-height:80vh">
<!-- Create records form -->
<td rowspan="2" style="width:45%;vertical-align:top;">
    <h2 style="font-weight: 900;">Patient Diagnosis Records</h2>
<br>
<br>
  <table class="table hover" id="sortTable">
    <thead>
      <tr>
        <th  class="_border">NRIC</th>
        <th  class="_border">Name</th>
        <th  class="_border">Contact</th>
        <th  class="_border">Gender</th>
        <th  class="_border">Date-of-birth</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(records|length) %}
        <tr class="_border record-list-item {{ records[i]['nric_fin'] }} visible" id="{{ records[i]['nric_fin'] }}" data-toggle="modal" data-target="#exampleModal">
          <td  class="_border">{{ records[i]['nric_fin'] }}</td>
          <td  class="_border">{{ records[i]['name'] }}</td>
          <td  class="_border">{{ records[i]['phone'] }}</td>
          <td  class="_border">{{ records[i]['gender'] }}</td>
          <td  class="_border">{{ records[i]['dob'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </td>
</table>


{% endblock %}
