<!-- Prototype page for main user page -->
{% extends 'base.html' %}

{% block title %} Welcome back {{ username }} {% endblock %}

<!-- Insert stylesheets -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/create_record.css"/>
{% endblock %}

<!-- Insert javascript -->
{% block scripts %}
<script src="/static/js/upload_records.js"></script>
{% endblock %}

<!-- Insert main contents -->
{% block content %}
{% include 'navbar.html' %}
{% include 'subnavbar-list-records.html' %}

<!-- Main contents -->
<table id="create-record-table" class="fadeIn hidden">
<!-- Create records form -->
<td rowspan="2" style="width:45%;vertical-align:top;">
    <h2 style="font-weight: 900;">Patient Records</h2>
    <div class="sort">
    <select name="sortby" id="sortby" class="form-control">
      <option>Sort by: </option>
      <option value="nric">NRIC</option>
      <option value="name">Name</option>
      <option value="dnt">Date/Time</option>
      <option value="diagnosisR">Diagnosis Result</option>
    </select>
  </div>
<br>
<br>
  <table>
    <tr class="border">
      <th class="border">NRIC</th>
      <th class="border">Name</th>
      <th class="border">Date/Time</th>
      <th class="border">Diagnosis Result</th>
    </tr>
    <tr class="border">
      <td class="border">Alfreds Futterkiste</td>
      <td class="border">Maria Anders</td>
      <td class="border">Germany</td>
      <td class="border">negative</td>
    </tr>
    <tr class="border">
      <td class="border">Centro comercial Moctezuma</td>
      <td class="border">Francisco Chang</td>
      <td class="border">Mexico</td>
      <td class="border">negative</td>
    </tr>
    <tr class="border">
      <td class="border">Ernst Handel</td>
      <td class="border">Roland Mendel</td>
      <td class="border">Austria</td>
      <td class="border">negative</td>
    </tr>
    <tr class="border">
      <td class="border">Island Trading</td>
      <td class="border">Helen Bennett</td>
      <td class="border">UK</td>
      <td class="border" >negative</td>
    </tr>
    <tr class="border">
      <td class="border">Laughing Bacchus Winecellars</td>
      <td class="border">Yoshi Tannamuri</td>
      <td class="border">Canada</td>
      <td class="border">positive</td>
    </tr>
    <tr class="border">
      <td class="border">Magazzini Alimentari Riuniti</td>
      <td class="border">Giovanni Rovelli</td>
      <td class="border">Italy</td>
      <td class="border">negative</td>
    </tr>
  </table>

</table>


{% endblock %}
