<!-- Prototype page for main user page -->
{% extends 'base.html' %}

{% block title %} Welcome back {{ username }} {% endblock %}

<!-- Insert stylesheets -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/create_record.css"/>
{% endblock %}

<!-- Insert javascript -->
{% block scripts %}
<script src="/static/js/upload_records.js"></script>
{% endblock %}

<!-- Insert main contents -->
{% block content %}
{% include 'navbar.html' %}
{% include 'subnavbar-search-records.html' %}

<!-- Main contents -->
<table id="create-record-table" class="fadeIn hidden">
    <thead>
      <tr>
        <!-- Create records form -->
        <td rowspan="2" style="width:45%;vertical-align: top;">
            <h2 style="font-weight: 900;">Patient Information</h2>
            <div style="float:right;">
            <button class="btn btn-primary mt-3"><a href="/records/update">Update</a></button>
            <button class="btn btn-primary mt-3">Delete</button>
            </div>
            <br>
            <table>
              <tr>
                <td style="width:15%;">First Name:</td>
                <td>Michelle</td>
              </tr>
              <tr>
                <td>Last Name:</td>
                <td>Lim</td>
              </tr>
              <tr>
                <td>NRIC/FIN:</td>
                <td>S123456Q</td>
              </tr>
              <tr>
                <td>Gender:</td>
                <td>Female</td>
              </tr>
              <tr>
                <td>Date Of Birth:</td>
                <td>20/03/1993</td>
              </tr>
              <tr>
                <td>Phone Number: </td>
                <td>12345678</td>
              </tr>
            </table>
                <!-- Buttons Submit/Reset -->
                <table style="width:100%; margin-top:20px">
                    <tr style="width: 100%;">
                      <td>X-ray Image and Result:
                        <ul>
                          <li>Positive/Negative</li>
                          <li>Date Taken: Date</li>
                        </ul>
                      </td>
                      <td>
                        <img id="frame" src="/static/media/xray_placeholder.png" class="img-fluid"/>
                      </td>
                    </tr>
                </table>
        </td>

    </thead>
</table>


{% endblock %}
