<!-- Prototype page for main user page -->
{% extends 'base.html' %}

{% block title %} Welcome back {{ username }} {% endblock %}

<!-- Insert stylesheets -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/list_records.css"/>
<link rel="stylesheet" href="/static/css/search_records.css"/>
{% endblock %}

<!-- Insert javascript -->
{% block scripts %}
<script src="/static/js/upload_records.js"></script>
<script>
  let all_nric = {{ all_nric | tojson }}
</script>
<script src="/static/js/search_records.js"></script>
<script src="/static/js/update_delete_records.js"></script>
{% endblock %}

<!-- Insert main contents -->
{% block content %}
{% set active_page = "list_record" %}
{% include 'navbar.html' %}
{% include 'subnavbar.html' %}
{% include 'patient-info-modal.html' %}

<!-- Main contents -->
{% include 'user-info-modal.html' %}
<table class="record-table fadeIn hidden" style="max-height:80vh">
<!-- Create records form -->
<td rowspan="2" style="width:45%;vertical-align:top;">
    <h2 style="font-weight: 900;">Patient Records</h2>
<br>
<br>
  <table class="table hover" id="sortTable">
    <thead>
      <tr>
        <th  class="_border">NRIC</th>
        <th  class="_border">Name</th>
        <th  class="_border">Date-Time Created</th>
        <th  class="_border">Diagnosis Result</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(records|length) %}
        <tr class="_border record-list-item {{ records[i]['patient_nric_fin'] }} visible" id="{{ records[i]['patient_nric_fin'] }}" data-toggle="modal" data-target="#exampleModal">
          <td  class="_border">{{ records[i]['patient_nric_fin'] }}</td>
          <td  class="_border">{{ records[i]['name'] }}</td>
          <td  class="_border">{{ records[i]['date_time'] }}</td>
          <td  class="_border" style="color: {{ 'red' if records[i]['result'] == 'positive' else 'green'}}; font-weight:bolder">{{ records[i]['result'].upper() }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </td>
</table>


{% endblock %}
