<!-- Prototype page for main user page -->
{% extends 'base.html' %}

{% block title %} Welcome back {{ username }} {% endblock %}

<!-- Insert stylesheets -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/create_record.css"/>
{% endblock %}

<!-- Insert javascript -->
{% block scripts %}
<script src="/static/js/upload_records.js"></script>
{% endblock %}

<!-- Insert main contents -->
{% block content %}
{% include 'navbar.html' %}
{% include 'subnavbar-search-records.html' %}

<!-- Main contents -->
<table id="create-record-table" class="fadeIn hidden">
    <thead>
      <tr>
        <!-- Create records form -->
        <td rowspan="2" style="width:45%;vertical-align: top;">
            <h2 style="font-weight: 900;">Update Patient Record</h2>
            <form id="create-record-form">
                <!-- First Name -->
                <label for="fname">First Name: </label>
                <input type="text" class="form-control" name="fname" id="fname"/>

                <!-- Last Name -->
                <label for="lname">Last Name: </label>
                <input type="text" class="form-control" name="lname" id="lname"/>

                <!-- NRIC/FIN -->
                <label for="nric">NRIC/FIN: </label>
                <input type="text" class="form-control" name="nric" id="nric"/>

                <!-- Gender -->
                <label for="gender">Gender: </label>
                <select id="gender" name="gender" class="form-control">
                  <option>Select a option</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <!-- Date Of Birth-->
                <label for="dob">Date Of Birth: </label>
                <input type="date" class="form-control" name="dob" id="dob"/>

                <!-- Buttons Submit/Reset -->
                <center><table style="width:50%; margin-top:20px;">
                    <tr>
                        <td><button style="width: 100%;" type="button" class="btn btn-primary" id="create_record_btn">Update Record</button></td>
                    </tr>
                    <tr>
                        <td><button style="width: 100%;" type="reset" class="btn btn-primary" id="create_record_btn">Reset Form</button></td>
                    </tr>
                </table></center>
            </form>
        </td>

    </thead>
</table>


{% endblock %}
